@import "tailwindcss";

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@theme inline {
  /* Colors light mode */
  --color-background: #f6f6f8;
  --color-light-background: #ffffff;
  --color-primary: #135bec;
  --color-secondary: #eaeef7;
  --color-border: #e5e7eb;
  --color-text: #111827;
  --color-text-muted: #5a6470;
  --color-gradient: #6afbcf;
  --color-backtext-1: #ffffff;
  --color-backtext-2: #f6f6f8;

  /* Spacing */
  --spacing-xs: 12px;
  --spacing-sm: 14px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 30px;
  --spacing-xxl: 82px;

  /* Text Size */
  --text-size-xs: 10px;
  --text-size-sm: 14px;
  --text-size-md: 16px;
  --text-size-lg: 20px;
  --text-size-xl: 24px;
  --text-size-xxl: 30px;
  --text-size-heading: 54px;

  /* Fonts */
  --font-heading: Zalando Sans, san-serif;
  --font-text: Roboto, san-serif;
}

html.dark {
  --color-background: #101622;
  --color-light-background: #17202f;
  --color-primary: #135bec;
  --color-secondary: #1e293b;
  --color-border: #1e293b;
  --color-text: #f1f5f9;
  --color-text-muted: #697487;
  --color-backtext-1: #364153;
  --color-backtext-2: #1e2939;
}

body {
  background: var(--color-background);
  color: var(--color-text);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}
